*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{ 
    color: #2407ce73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background: #b92b27;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 80%, 42%, 0.651), hsla(2, 65%, 44%, 0.616)), url(../paginaweb/img/inicio2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 80%, 42%, 0.651), hsla(2, 65%, 44%, 0.616)), url(../paginaweb/img/inicio2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30pz 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;

} 

nav > a:hover{
    text-decoration: underline;
}

header .text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-header h1{
    font-size: 50px;
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wade{
    position: absolute;
    bottom: 10;
    width: 100%;
}

  /* About us */
  
  .contenido-textos{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
} 
   .imagen-aboult{
      width: 30%;
      padding-bottom: 10px;
      margin-bottom: 20px;
}

  .imagen-aboult-{
      width: 40%;
      padding-bottom: 10px;
      margin-bottom: 20px;
  }
  .imagen-aboult-us{
      width: 30%;
      padding-bottom: 10px;
      margin-bottom: 20px;
}

/* galeria */

.portafolio{
    background: #f2f2f2;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   
}

.galeria-port{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
}

.imagen-port{
    width: 55%;
    margin-bottom: 10px;
    margin-bottom: 200px;
    overflow: hidden;
    position: center;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
 
/* footer */
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contet-foo {
    text-align: center;

}

.contet-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20af;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.contet-foo p{
    color: #fff;

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
    
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*galeria*/
    .imagen-port{
        width: 100%;
        text-align: center;

    }
    /*contenedor-footer*/
    .contet-foo{
        text-align: center;
    }
}




